<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
<form action="/Upload" method="post">
    <textarea name="conturl" id="conturl" cols="200" rows="30"></textarea>
    <input id="btn"  type="button" value="提交">

</form>
<input type="text"  value="<%= aasd %>">
<input type="text" value="<%= error%>">
</body>
<script>
    $(function () {
        $('#btn').click(function () {
            var content=$('#conturl').val().trim();
            if(!content){
                var reg=/\\(DataAccess|Entity|KMSite|GMSite|FMSite)/igm;
                document.
            }
        })
    })
</script>
</html>